@font-face {
	font-family: "comp-iconfont";
	src: url('../fonts/comp/comp-iconfont.eot');
	src: url('../fonts/comp/comp-iconfont.eot?#iefix') format('eot'),
		url('../fonts/comp/comp-iconfont.woff2') format('woff2'),
		url('../fonts/comp/comp-iconfont.woff') format('woff'),
		url('../fonts/comp/comp-iconfont.ttf') format('truetype'),
		url('../fonts/comp/comp-iconfont.svg#comp-iconfont') format('svg');
}

.icon:before {
	font-family: "comp-iconfont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-arrow-link-left:before {
	content: "\E001";
}

.icon-arrow-link-right:before {
	content: "\E002";
}

.icon-close:before {
	content: "\E003";
}

.icon-facebook:before {
	content: "\E004";
}

.icon-instagram:before {
	content: "\E005";
}
