doctype html
html(lang="ru")
	head
		include modules/head/index.pug
	body
		.container
			.article
				h3.article__title Заголовок
				p.article__text Абзац
				p.article__text Абзац
				.article__rate
					.article__rate-item(data-rate="1") &#129324;
					.article__rate-item(data-rate="2") &#129320;
					.article__rate-item(data-rate="3") &#129300;
					.article__rate-item(data-rate="4") &#128522;
					.article__rate-item(data-rate="5") &#128525;
					.article__rate-comment-block
						label.article__rate-comment-label(for="rateComment") Несколько слов о прочитанном (замечания и рекомендации):
						textarea.article__rate-comment#rateComment
						button.article__rate-comment-btn Отправить
		include modules/foot/index.pug
